.group-user-items{
    padding: 1em 4em 1em 4em;
    margin: 0;
    position: relative;
    color: white;
    display: flex;
    justify-content: space-between;
}

#header-link:hover{
    cursor: pointer;
}

#user-items{
    padding: 20px;
}

#display-username{
    color: #474954;
    display: flex;
    justify-content: center;
}

#switch-view{
    color: white;
    background-color: #474954;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-width: 0;
    display: flex;
    justify-content: center;
}

#switch-view:hover{
    background-color: #7284a8;
    cursor: pointer;
    transform: scale(1.1);
}

#post-section{
    width: 70%;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-question{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #9e788f;
    color: #474954;
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 90%;
}

.post-question:hover{
    cursor: pointer;
    color: white;
    background-color: #9e788f;
    transform: scale(1.1);
}

.post-body{
    display: flex;
    justify-content: space-around
}

.list-posts{
    border-style: solid;
    border-width: 1px 0 1px;
    border-color: #9e788f;
    width: 90%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#a-post{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #9e788f;
    padding: 20px;
    width: 80vw;
}

.button-wrap{
    width:100%;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.select_button{
    border-style: solid;
    border-width: thin;
    border-radius: 10px;
    border-color: #9e788f;
    color: #474954;
    background-color: white;
    padding: 10px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.select_button:hover{
    cursor: pointer;
    color: white;
    background-color: #9e788f;
    transform: scale(1.1);
}

button.disabled{
  pointer-events: none;
}

.select_button:disabled,
.select_button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  transform: scale(1);
  cursor: not-allowed;
}

table{
    display: flex;
    justify-content: space-around;
}

td{
    padding-left: 5vw;
    padding-right: 5vw;
}

.button_wrap{
    display: flex;
    justify-content: center;
}

#pick_1.select_button, #pick_2.select_button{
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

#delete-this:hover{
    animation: shake 0.6s;
    animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}